<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>935733805713-1j4lc2g20v6tmefb0k6avmvg1pai3hfu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.935733805713-1j4lc2g20v6tmefb0k6avmvg1pai3hfu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>935733805713-voakrulfgd49n4ff3nhmh3bv91phsolb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDtPOHBrxIkr3nGZf2K_xWnEKpYuYpe5gQ</string>
	<key>GCM_SENDER_ID</key>
	<string>935733805713</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.rose-hulman.fisherds.MovieQuotes2</string>
	<key>PROJECT_ID</key>
	<string>fisherds-firestore-moviequotes</string>
	<key>STORAGE_BUCKET</key>
	<string>fisherds-firestore-moviequotes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:935733805713:ios:64197de07e9069afdc7530</string>
	<key>DATABASE_URL</key>
	<string>https://fisherds-firestore-moviequotes.firebaseio.com</string>
</dict>
</plist>